<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 >Line 1 THBCISDC</h1>
    <h2 >Line 2 IHIHBDOCB</h2>
    <p> Paragraph 1 LOREMMEOIASDJNTEF</p>
   
   
    
</body>
</html>