@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap'); */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

:root{
    --main-font:"Montserrat";
    --light-red-color:#FF4051;
    --red-color: rgb(200,0,23);
    --white-color: #FFFDFD;
    --blue-color: rgb(43,49,134);
    --black-color: #000000;
    --lightgray-color: #D9D9D9;
    --gray-color: #C4C4C4;
    --input-gray-color: #777676;
    --header-height:20%;
    --header-responsive-height:80px;
    --browser-text-size: 16px;
    --mobile-text-size: 14px;
}
html{
    font-size: var(--browser-text-size);
}
body{
    background-color: var(--white-color);
    font-family: var(--main-font);
}

p{
    font-size: 1.1rem;
    color: #363636;
}
h1 {
    font-size: 2.6rem;
}
h2 {
    font-size: 2.1rem;
}
h3 {
    font-size: 1.6rem;
}

/*=============================Container==========================================*/

.container{
    display:flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
}

/*=============================Header==========================================*/

.header{
    /* position:absolute;
    top:0;
    left:0; */
    display:block;
    background-color: var(--white-color);
    height:var(--header-height);
    width:100%;
    z-index:4;
}

.header-top{
    display:flex;
    align-items: center;
    padding:10px 50px;
}

/* .logo{
    width:150px;
    height:58px;
} */

.menu{
    display:none;
    outline:none;
}

.header-phone{
    margin-left: auto;
    text-align:right;
}

.header-phone p{
    font-size:0.95rem;
    font-weight: 800;
    color:var(--blue-color);
    letter-spacing: 1px;
}

/* ========================== SIDEBAR MENU ===================================== */
.open-slide{
    cursor: pointer;
}
.side-nav{
    display: none;
    width:250px;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size:1.3rem;
    color:#ccc;
    display:block;
    transition:0.3s;
}

.side-nav a:hover{
    color:#fff;
}

.side-nav .btn-close{
    position: absolute;
    cursor:pointer;
    color:#ccc;
    top:10px;
    right:22px;
    font-size:2.5rem;
    margin-left:50px;
}

/*=============================NAVBAR==========================================*/


.navbar{
    background-color: var(--red-color);
    color:rgb(226, 226, 226);
}

.navbar-items{
    list-style-type:none;
    justify-content: space-between;
    display:flex;
    font-size: 1rem;
    /* font-weight: normal; */
    padding:15px 50px;
    font-family:var(--main-font);
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-item a{
    text-decoration: none;
    color:var(--white-color);
}

/* ========================== FOOTER ===================================== */

footer p{
    font-size: 0.75rem;
    color: var(--white-color);
}
.footer-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(27, 27, 27);
    padding:20px 40px;
}

.footer-content{
    flex-basis: 1;
}

.copyright{
    font-size: 1.5rem;
    color:rgb(180, 179, 179);
    margin-top: 10px;
}

.call-button input{
    font-family: var(--main-font);
    padding:5px 10px;
    border:1px var(--white-color) solid;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight:700;
}

.icons-container{
    /* background-color: var(--light-red-color); */
    justify-self: flex-end;
    align-self: center;
    /* display:flex;
    justify-content: space-around; */
}

.icons-container i{
    color:white;
    /*font-size:1.2rem;*/
}