@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

:root{
    --light-red-color:#FF4051;
    --red-color: #FF2B3E;
    --white-color: #FFFDFD;
    --blue-color: #2B51B4;
    --black-color: #000000;
    --lightgray-color: #D9D9D9;
    --gray-color: #C4C4C4;
    --input-gray-color: #777676;
    --header-height:130px;
    --header-responsive-height:80px;
}

body{
    background-color: var(--white-color);
    font-family: "Poppins";
}

/* body::-webkit-scrollbar {
    width:10px;
}

body::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
  }

body::-webkit-scrollbar-thumb {
    background: var(--red-color);
    height:14px;
} */

.container{
    /* margin:auto;
    width:90%; */
    display:flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
}

/*=============================Header==========================================*/

.header{
    /* background-color: yellow; */
    /* order:1; */
    position:fixed;
    top:0;
    left:0;
    display:block;
    width:100%;
    background-color: var(--white-color);
    height:var(--header-height);
    width:100%;
    z-index:4;
}

.header-top{
    display:flex;
    align-items: center;
    padding:20px 50px;
}

.brand{
    display:flex;
    align-items: center;

}

.logo{
    width:100px;
    height:39px;
}

.logo-text{
    display:flex;
    flex-direction: column;
    font-size:0.9rem;
}

.menu{
    display:none;
    outline:none;
}

.header-phone{
    margin-left: auto;
    text-align:right;
}

.header-phone h3{
    font-size:0.7rem;
    font-weight: bold;
    color:var(--red-color);
}

/* ========================== SIDEBAR MENU ===================================== */
.open-slide{
    cursor: pointer;
}
.side-nav{
    display: none;
    width:250px;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size:1.3rem;
    color:#ccc;
    display:block;
    transition:0.3s;
}

.side-nav a:hover{
    color:#fff;
}

.side-nav .btn-close{
    position: absolute;
    cursor:pointer;
    color:#ccc;
    top:10px;
    right:22px;
    font-size:2.5rem;
    margin-left:50px;
}

/*=============================NAVBAR==========================================*/


.navbar{
    background-color: var(--red-color);
    color:rgb(226, 226, 226);
}

.navbar-items{
    list-style-type:none;
    justify-content: space-between;
    display:flex;
    font-size: 0.8rem;
    /* font-weight: normal; */
    padding:15px 50px;
    font-family: "Poppins";
    font-weight: bold;
}

.navbar-item a{
    text-decoration: none;
    color:var(--white-color);
}

/* ========================== SHOWCASE ============================================= */

.showcase{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: calc(100vh - var(--header-height));
    margin-top:130px;
}


.slider{
    position:relative;
    height:calc(100vh - 180px);
    overflow:hidden;
}

.overlay{
    width:100%;
    height:100%;
    background: #000000b7;
}

.slide{
    position:absolute; 
    top:0;
    left:0; 
    width:100%;
    height:100%;
    opacity:0;
    /* transform:translateX(100px); */
    transition:opacity 0.5s ease-out;
}

.slide.current{
    opacity:1;
}

.slide-content{
    color:var(--white-color);
    position: absolute;
    top:0;
    /* background-color: yellow; */
    display: none;
    width:100%;
    height:100%;
    margin:auto;
    padding:30px;
    font-size:2rem;
    font-weight:bold;
    margin-top:20px;
}

.slide:first-child{
    background: url(../img/slider/slide-image-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.slide:nth-child(2){
    background: url(../img/slider/slide-image-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.slide:nth-child(3){
    background: url(../img/slider/slide-image-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.slide:nth-child(4){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.slide:nth-child(5){
    background: url(../img/slider/slide-image-5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.slider-nav{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom:0;
    width:100%;
    height:50px;
    background-color: rgb(173, 173, 173);
}

.slide-circle{
    background-color: #EAEAEA;
    width:25px;
    height:25px;
    border-radius:100px;
    transition:all 0.5s ease-in;
}

.slide-circle.active{
    background-color: var(--red-color);
}

.request-quote{
    background:var(--lightgray-color);
    padding:30px;
}

.request-quote-header h2{
    font-size: 1.3rem;
}

.request-quote-fields div{
    margin-top:3%;
}

.request-input{
    color: var(--input-gray-color);
    background-color: var(--gray-color);
    padding:2px 10px;
    font-family:"Poppins";
    border:none;
    border-radius: 7px;
    width:100%;
    outline:none;
}

.name-field{
    display: flex;
    justify-content: space-between;
}

.name-field input{
    flex-basis:48%;
}

.submit input{
    font-family: "Poppins";
    padding:5px 10px;
    border:1px transparent solid;
    border-radius:10px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 0.8rem;
}


/* ==================== ABOUT ============================== */

.about-section{
    display:flex;
}

.about{
    flex:1.9;
    padding:40px 50px;
    background-color: var(--white-color);
}

.about-header h2{
    font-size: 1.3rem;
}

.about-content{
    font-size: 0.8rem;
    line-height: 1.7rem;
}

.about-content p{
    margin-top:12px;
}



/* ========================SERVICES============================ */

.services-section{
    background-color: var(--red-color);
    color: var(--white-color);
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    font-size:0.7rem;
    grid-gap:1rem;
    text-align: center;
    /* justify-items: center; */
    align-items: center;
}

.services-section h2{
    padding:30px 20px;
    /* border-right:1px solid var(--white-color); */
}

/* ================================ GALLERY ================================ */

.gallery-section{
    padding:30px 50px;
    /* background-color: var(--blue-color); */
    background-color: var(--white-color);
}


.gallery-header{
    text-align: center;
    font-size:0.8rem;
    font-weight: bold;
}

.gallery-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
    grid-auto-rows: 200px;
    margin-top:30px;
}

.gallery-image:first-child{
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.gallery-image:nth-child(2){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
.gallery-image:nth-child(3){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
.gallery-image:nth-child(4){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
.gallery-image:nth-child(5){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
.gallery-image:nth-child(6){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
.gallery-image:nth-child(7){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
.gallery-image:nth-child(8){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
.gallery-image:nth-child(9){
    background: url(../img/slider/slide-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

/* =================================== CONTACT =============================================== */

.contact-section{
    background-color: var(--white-color);
}

.contact-header{
    text-align: center;
    font-size:0.8rem;
    font-weight: bold;
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top:30px;
}

.address-details,.phone-details{
    display: flex;
}

.address-icon span,.phone-icon span{
    font-size:2rem;
}

.address-content,.phone-content{
    margin-left:10px;
}

.address-content h3,.phone-content h3{
    font-size:1rem;
    color: var(--red-color);
}

.address-content p,.phone-content p{
    font-size:0.8rem;
}

/* ========================== FOOTER ===================================== */

.footer-section{
    padding:20px;
    background-color: rgb(27, 27, 27);
}

.icons-container{
    display:flex;
    justify-content: space-around;
}

.icons-container i{
    color:white;
}


/* ========================= RESIDENTIAL & COMMERCIALSECTION ================================ */

/* ========================= RESIDENTIAL SECTION ================================ */

.residential-section , .commercial-section{
    margin-top:var(--header-height);
    padding-top:30px;
    background-color: var(--white-color);
}

.residential-header, .commercial-header{
    text-align: center;
    font-size: 1.2rem;
    color: #14329e;
}

.residential-content, .commercial-content{
    padding:30px 50px;
    font-size:0.9rem;
    line-height:1.7rem;
}

.residential-images, .commercial-images{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:250px;
    justify-content: center;
    grid-gap:40px;
    margin-top:20px;
}

.residential-image:first-child{
    background: url(../img/slider/slide-image-4.jpg);
}

.commercial-image:first-child{
    background: url(../img/slider/slide-image-3.jpg);
}

.residential-image:first-child, .commercial-image:first-child{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.residential-image:nth-child(2){
    background: url(../img/slider/slide-image-4.jpg);
}

.commercial-image:nth-child(2){
    background: url(../img/slider/slide-image-4.jpg);
}

.residential-image:nth-child(2), .commercial-image:nth-child(2){
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

/* ========================= REQUEST MODAL ================================*/

.request-quote-section{
    display:none;
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    z-index:6;
}

.overlay2{
    width:100%;
    height:100%;
    background: #000000b7;
}

.request-quote-section .request-form{
    position: absolute;
    top:70px;
    width:100%;
}

.request-form .request-quote{
    width:30%;
    margin:auto;
    vertical-align: middle;
}

.request-button{
    position:fixed;
    bottom:55px;
    right:20px;
    font-family: "Poppins";
    padding:5px 10px;
    border:1px transparent solid;
    border-radius:50px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 1.2rem;
    cursor:pointer;
    outline:none;
}

.close-btn{
    position:absolute;
    font-size:2rem;
    top:20px;
    right:20px;
    color: var(--white-color);
    cursor: pointer;
}

/* ====================================== FURNACE SECTION ======================================== */

.furnace-section{
    margin-top: var(--header-height);
    display:flex;
    height:calc(100vh - var(--header-height));
    overflow:hidden;
}

.left-navbar-section{
    min-width: 250px;
    height:calc(100vh - var(--header-height));
    background-color: var(--light-red-color);
}

.left-navbar-item{
    padding:25px;
    color:var(--white-color);
    font-weight:400;
    border-bottom:2px solid rgb(219, 49, 64);
}

.left-navbar-item.active{
    color:var(--red-color);
    background-color: #FFFBFB;
    font-weight: bold;
}

.right-content-section{
    padding:40px 50px;
    overflow: auto;
}

.right-content-header h2{
    font-size:2rem;
    color:var(--red-color);
}

.right-content-body{
    margin-top:20px;
}

.buy-header h2{
    font-size:1.3rem;
}

.buy-content{
    margin-top:10px;
    font-size:0.9rem;
    line-height:1.5rem;
}

.faq{
    margin-top:20px;
}

.buy-faq-header h2{
    font-size:1.3rem;
}

.buy-faq-item{
    margin-top:20px;
}

.buy-faq-question{
    background-color: var(--red-color);
    color:var(--white-color);
    font-size:0.9rem;
    font-weight: 400;
    padding:25px;
    display:grid;
    grid-template-columns: 3fr 1fr;
    align-items:center;
}

.buy-faq-question button{
    background-color: var(--red-color);
    color:var(--white-color);
    border:none;
    font-size:1.6rem;
    justify-self: flex-end;
}

.buy-faq-answer{
    font-size:0.8rem;
    margin-top:15px;
    line-height: 1.2rem;
}

/* ====================================== CONTACT TAB ============================================ */
.contact-page .contact-section{
    margin-top:var(--header-height);
    padding-top: 30px;
}

.contact-page .contact-section .contact-header h2{
   font-size: 1.8rem;
}

/* ===================================== RESPONSIVENESS ============================================ */

@media(max-width:960px)
{
    .header{
        height:var(--header-responsive-height);
    }

    .header-phone{
        display:none;
    }

    .menu{
        display: block;
        margin-left:auto;
        font-size:1.7rem;
        color:var(--red-color);
    }

    .side-nav{
        display:block;
        height: 100%;
        margin-left:-250px;
        position: fixed;
        z-index: 5;
        top:0;
        left:0;
        background-color:#111;
        opacity:0.9;
        overflow-x:hidden;
        padding-top:60px;
        transition:0.5s;
    }

    .logo{
        width:95px;
        height:43px;
    }

    .logo-text{
        font-size: 0.8rem;
    }

    .navbar{
        display:none;
    }

    .showcase{
        margin-top:var(--header-responsive-height);
        display:block;
    }

    .slider{
        height:calc(100vh - 130px);
    }

    .header-top{
        padding:20px 15px;
    }

    .about{
        flex:1.9;
        padding:40px 35px;
        background-color: var(--white-color);
    }

    .services-section{
        grid-template-columns: 1fr 1fr;
        font-size:0.6rem;
        grid-gap:20px;
        background-color: var(--white-color);
        padding:35px;
        justify-content: stretch;
        align-items: stretch;
        align-content: center;
    }

    .services-section h2{
        background-color: var(--red-color);
        align-content:center;
    }

    .gallery-images{
        grid-template-columns: 1fr;
    }

    .content{
        padding:10px 40px;
        margin: auto;
        margin-top:20px;
    }

    .request-form .request-quote{
        width:75%;
    }

    .residential-section, .commercial-section,.furnace-section{
        margin-top:var(--header-responsive-height);
    }

    .residential-images, .commercial-images{
        grid-template-columns: 1fr;
    }

    .contact-page .contact-section{
        margin-top:var(--header-responsive-height);
    }

    .left-navbar-section{
        display:none;
    }

}
